langgraph==0.2.56
#pyqt5==5.15.10
pyqt5==5.15.*
scipy==1.13.1
pygame==2.5.2
soundcard==0.4.3
openai==1.57.0
langchain-google-genai==2.0.6
python-dotenv==1.0.0
upsonic==0.28.4
pyautogui==0.9.54
sounddevice==0.4.6
soundfile==0.12.1
pydub==0.25.1
pyscreeze==0.1.30
pyperclip==1.8.2
pydantic==2.10.3
pillow==10.3.0
langchainhub==0.1.18
langchain-experimental==0.3.3
opentelemetry-sdk==1.24.0
opentelemetry-exporter-otlp==1.24.0
langchain-groq==0.2.1
langchain-openai==0.2.11
langchain==0.3.10
langchain-community==0.3.10
langchain-core==0.3.22

# custom tools
pyperclip==1.8.2
google==3.0.0
duckduckgo-search==5.3.0
beautifulsoup4==4.12.3

pytesseract==0.3.10
pywifi-controls==0.7

pynput==1.7.7

kot==0.1.2


screeninfo==0.8.1

anthropic==0.40.0
langchain-anthropic==0.3.0

StrEnum==0.4.15

langchain-mcp==0.1.0a1

waitress==3.0.2