langgraph==0.0.51
pyqt5==5.15.10
scipy==1.13.1
pygame==2.5.2
soundcard==0.4.3
openai==1.30.3
langchain-google-genai==1.0.4
python-dotenv==1.0.0
upsonic==0.28.4
pyautogui==0.9.54
sounddevice==0.4.6
soundfile==0.12.1
pydub==0.25.1
pyscreeze==0.1.30
pyperclip==1.8.2
pydantic==2.7.2
pillow==10.3.0
langchainhub==0.1.18
langchain-experimental==0.0.58
opentelemetry-sdk==1.24.0
opentelemetry-exporter-otlp==1.24.0
langchain-groq==0.1.5
langchain-openai==0.1.6
open-interpreter==0.2.6
langchain==0.1.20
langchain-community==0.0.38
langchain-core==0.1.52

# custom tools
pyperclip==1.8.2
google==3.0.0
duckduckgo-search==5.3.0
beautifulsoup4==4.12.3

pytesseract==0.3.10
pywifi-controls==0.7

pynput==1.7.7